

.button {
    background-color: yellow;
    border-radius: 55px;
    /* min-width: 103px; */
    border: 1px solid transparent;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    /* line-height: 1.5715; */
    /* position: relative; */
    /* display: inline-block; */
    /* box-shadow: 0 5px 0 rgb(0 0 0 / 2%); */
    cursor: pointer;
    /* transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* user-select: none; */
    /* touch-action: manipulation; */
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
  }