.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #7d7d7d19;
    font-family: 'Raleway', sans-serif;
    color: rgba(94, 90, 82, 0.75);
    align-content: center;
    align-items: flex-start;
}