.cards {
    width: 1024;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
  
  }

.create_post_btn {
  margin-top: 20px;
}

@media (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    }
}

