.card {
    max-width: 350px;
    height: auto;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    display: flex;
    background-color: white;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    cursor: pointer;
   }
.card:hover {
        box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
        0px 8px 16px rgba(96, 97, 112, 0.16);
        transition: 0.3s ease-in-out;
      }

.about {
text-overflow: ellipsis;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
line-height: 1.3em;
height: 3.9em;
}

.card_title {
    padding: 5px 0px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    }

.title_border {
    border: 1px solid #afafaf44;
    width: 350px;
}

    .card a {
        text-decoration: none;
        color: black;
        -webkit-transition: 0.3s ease-in-out;
    }

.card a:hover {
    color: rgba(177, 10, 10, 0.702);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}



.tag {
    border-radius: 5px;
    padding: 20px 20px 20px 0px;
}

.date {
color: rgba(0, 0, 0, 0.5);
padding: 5px 5px 5px 0px;
}

/* .liked {
    background-color: rgb(254, 156, 156);
    margin: 3px;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    border: 1px solid transparent;
    border-color: #ff0000;
    cursor: pointer;
}

.notliked {
    background-color: rgb(255, 255, 136);
    margin: 3px;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    border: 1px solid transparent;
    border-color: #cec700;
    cursor: pointer;
} */

.like {
    cursor: pointer;
    padding-top: 10px;
}

.card_img {

    width: 100%;
    height: auto;
    border-radius: 15px;
}

.mail {
/* font-weight: 600; */
padding: 10px 10px 10px 0px;  
}