.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffee8f;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(185, 185, 2, 0.711);
    /* height: 50px; */
}

