.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7d7d7d36;
    padding: 40px;
    font-weight: bold;
    border-bottom: 1px solid #afafaf;
    font-family: matter,graphik,-apple-system,BlinkMacSystemFont,
    Helvetica Neue,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #767676;
}

@media (max-width: 880px) {
    .header {
      grid-template-columns: repeat(3, 1fr);
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 400px) {
    .header {
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      flex-wrap: wrap;
    }
  }