.footer {
    padding: 20px 150px;
    display: flex;
    align-items: center;
    background-color: #7d7d7d36;
    font-weight: bold;
    border-top: 1px solid #afafaf;
    /* box-shadow: 0 0 10px rgba(7, 164, 25, 0.798); */
    font-family: matter,graphik,-apple-system,BlinkMacSystemFont,
    Helvetica Neue,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #767676;
    justify-content: center;
}